/*#primeraEra{
	width:50%;
	height:300px;
	background-color:green;
}

#segundaEra{
	float:right;
	height:500px;
	background-color:blue;
}*/
 #Encabezado{
	background-color: transparent;
	width: auto;
}

.titleFormIng{
	position: center;	
	margin-left: 35%;
	color:red;
	font-family: 'germania One', cursive;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
#listCartas{
	width: 1000px;
	background-color: transparent;
	color:red;
	font-weight: 900;
	padding-left: 5px; 
}
#FormIngr{
	margin-left: 31%;
	background-color: rgb(255,255,255,.5);
	padding: 20px;
	border-radius: 1em;
	border: 1px solid black;
}
#listCartas select,textarea,input{
	color:black;
	font-weight: normal;
	margin-top: 5px;
}
.carta{
	display: inline-block;
	color:gold;
	text-transform: uppercase;
}
.carta center{
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.carta img{
	text-align: left;
}
​
input[type="text"], select{
	margin-top: 5px;
}
.tooltip-inner {
    white-space: pre-wrap;
}
#listCartas img{
	border-radius: 1em;
	border: 1px solid black;
}
#logo{
	border: none;
	float: right;
	margin-top: 50px;
}
#footer{
	color:white;
	font-size: 28px;
	margin-left: 40%;
	position:absolute;
	bottom: -1200;
}
body{
	background-image: url("../images/el gran zeus.jpg");
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	height:1900px;
	text-shadow: 5px 5px 10px yellow ;
}

textarea { 
	vertical-align: top;
	margin-top: 5px;
	resize: none;
}

#browser{
	margin-top: 20px;
	margin-left: 31%;
	background-color: rgb(255,255,255,.5);
	padding: 20px;
	border-radius: 1em;
	border: 1px solid black;
}
pre{
	font-size: 24px;
	background-color: rgb(255,255,255,.6);
}
.title{
	font-size: 36px;
	color:gold;
	/*text-shadow:2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-weight: 800;
	width: auto;
	font-family: 'Germania One',cursive;
}