{% extends "inicio.html" %}

{% block tituloPagina%}
Buscador de colecciones
{% endblock %}

{%block Encabezado%}
Buscador de colecciones
{%endblock%}

{% block cartas %}
	
	<form id="browser" action="/buscador" method="get">
	Seleccionar colección:
		<div class="form-group">
			<select class="form-control" name="selectColeccion">
				<option value="FaltantesReto">Faltantes el reto</option>
				<option value="FaltantesRetoExtension">Faltantes el reto extensión</option>
				<option value="FaltantesMundoGotico">Faltantes mundo gótico</option>
				<option value="FaltantesMundoGoticoExtensión">Faltantes mundo gótico extensión</option>
				<option value="FaltantesIraDelNahual">Faltantes ira del nahual</option>
				<option value="FaltantesRagnarok">Faltantes ragnarok</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Buscar colección</button>
	</form>
{% endblock %}