{% extends "inicio.html" %}
{% block title %}Faltantes el reto{% endblock %}
{% block cartas %}
<br>
<!--{% block seccion %}imagenes{% endblock %}-->
<!--a href="../templates/Faltantes_el_reto.html">Ir a faltantes del reto</a-->
<img data-aos="flip-right" src="templates/images/shiva.jpg" alt="shiva.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/maui.jpg" alt="maui.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/apolo.jpg" alt="apolo.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/tlaloc.jpg" alt="tlaloc.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/odiseo.jpg" alt="odiseo.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/balder.jpg" alt="balder.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/sir gawein.jpg" alt="sir gawein.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/hada viviana.jpg" alt="hada viviana.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/afrodita.jpg" alt="afrodita.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/cernunno.jpg" alt="cernunno.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/horus.jpg" alt="horus.jpg" width="300px" height="365px">
<img data-aos="flip-right" src="templates/images/wondjinas.jpg" alt="wondjinas.jpg" width="300px" height="365px">

{% endblock %}