<!--{% extends "inicio.html" %}
{% block title %}Mazo castillo de primera era{% endblock %}
<br><center>
{% block seccion %}imagenes{% endblock %}
</center-->
{% extends "inicio.html" %}
{% block cartas}
<img data-aos="flip-right" src="templates/images/shiva.jpg" alt="shiva.jpg" width="300px" height="300px">
<img data-aos="flip-right" src="templates/images/tlaloc.jpg" alt="tlaloc.jpg" width="300px" height="300px"><br>
<img data-aos="flip-right" src="templates/images/apolo.jpg" alt="apolo.jpg" width="300px" height="300px">
<img data-aos="flip-right" src="templates/images/maui.jpg" alt="maui.jpg" width="300px" height="300px"><br>
<img data-aos="flip-right" src="templates/images/afrodita.jpg" alt="afrodita.jpg" width="300px" height="300px">
<img data-aos="flip-right" src="templates/images/odiseo.jpg" alt="odiseo.jpg" width="300px" height="300px"><br>
<img data-aos="flip-right" src="templates/images/wondjinas.jpg" alt="wondjinas.jpg" width="300px" height="300px">
<img data-aos="flip-right" src="templates/images/sir gawein.jpg" alt="sir gawein.jpg" width="300px" height="300px">
{% endblock %}