<!--!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buscar</title>
	<link rel="stylesheet" href="templates/css/estilos.css">
</head>
<body>
	<div class="title">Formulario de ingreso de cartas por edición</div>
	<form action="/ingreso" method="post">
		<input type="text" name="q">
		<input type="submit" value="Buscar">
	</form>
</body>
</html-->
{% extends "inicio.html" %}

{% block tituloPagina %}
Formulario de Cartas MYL
{% endblock %}

{% block Encabezado %}Formulario de Cartas{% endblock %}
	
{% block cartas %}
	<div class="titleFormIng">Formulario de ingreso de cartas por edición</div>
	<form id="FormIngr" action="/ingreso" method="get">
		Número de carta: <input type="number" name="numero"><br>
		Nombre de carta: <input type="text" name="nombre"><br>
		Edición de carta: <input type="text" name="edicion"><br>
		Habilidad de carta: <textarea name="habilidad" cols="30" rows="10"></textarea><br>
		<input type="submit" value="Ingresar carta">
	</form>
	{% if ingreso %}
	<center><p style="color:green;font-size: 28px">Datos almacenados correctamente!!</p></center>
	{% endif %}

	{% if error %}
	<center><p style="color:red;font-size: 28px">Por favor ingresa los datos correctamente!!</p></center>
	{% endif %}
{% endblock %}

