{% extends "inicio.html" %}

{% block tituloPagina %}
Formulario de Cartas MYL
{% endblock %}

{% block Encabezado %}Formulario de Cartas{% endblock %}
	
{% block cartas %}
	<div class="titleFormIng">Formulario de ingreso de cartas por edición</div>
	<form id="FormIngr" action="/ingreso" method="get">
	  <div class="form-group">
	    <label for="numero">Número de carta</label>
	    <input type="number" class="form-control" id="numero" name="numero" placeholder="Ingresa el número de la carta">
	  </div>
	  <div class="form-group">
	    <label for="nombre">Nombre de la carta</label>
	    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre de la carta">
	  </div>
	  <div class="form-group">
	    <label for="edicion">Escoge edición</label>
	    <select class="form-control" id="edicion" name="edicion">
	      <option value="FaltantesReto">El reto</option>
	      <option value="FaltantesRetoExtension">El reto extensión</option>
	      <option value="FaltantesMundoGotico">Mundo gótico</option>
	      <option value="FaltantesMundoGoticoExtensión">Mundo gótico extensión</option>
	      <option value="FaltantesIraDelNahual">Ira del nahual</option>
	      <option value="FaltantesRagnarok">Ragnarok</option>
	    </select>
	  </div>
	  <div class="form-group">
	  	<label for="habilidad">Habilidad de la carta</label>
	    <textarea class="form-control" id="habilidad" placeholder="Ingresa la habilidad de la carta" rows="3" name="habilidad"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary">Ingresar carta</button>
	</form>
	{% if ingreso %}
	<!--center><p style="color:green;font-size: 28px">Datos almacenados correctamente!!</p></center-->
		<script type="text/javascript">
			alert("Datos almacenados correctamente");
		</script>
	{% endif %}

	{% if error %}
	<center><p style="color:red;font-size: 28px">Por favor ingresa los datos correctamente!!</p></center>
	<center><button class="btn btn-success" ><a href="/ingreso">Ingresar nuevamente</a></button></center>
	{% endif %}
{% endblock %}

